# eclipse IDE:
# /
/.project
/.pydevproject

# generated during build:
/vcs-info
/build
/install
/dist
/MANIFEST

# external dependencies
/html5/flags

# generated during dev
/html5/default-settings.txt.orig
/html5/connect.html.orig
/html5/background.png